{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

<!-- css -->
{% block css %}
    
{% endblock css %}


<!-- BODY -->
{% block body %}
    <div class="container">
        <h1>Home</h1>
        <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo doloribus ducimus incidunt minus sit! Repellendus cumque provident doloremque ipsam aliquam ad! Cumque blanditiis pariatur distinctio sapiente, soluta officiis doloribus? Impedit!</p>

    </div>

{% endblock body %}


<!-- JS -->
{% block js %}
    
{% endblock js %}