{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

<!-- css -->
{% block css %}

{% endblock css %}

<!-- Active nav links -->
{% block homeactive %}active{% endblock homeactive %}


<!-- BODY -->
{% block body %}
<div class="container">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">iCoder: Unleashing the power of code...</h1>
            <p class="col-md-8 fs-4">
                Welcome to iCoder, your ultimate destination for all things coding! In today's digital world, the
                ability to code has become increasingly essential. Whether you're a beginner exploring the wonders of
                programming or an experienced developer looking to stay up-to-date with the latest trends, iCoder is
                here to guide you on your coding journey. Join us as we delve into the fascinating realm of programming,
                share insightful tutorials, explore new technologies, and inspire each other to push the boundaries of
                what can be achieved with code.
            </p>
            <button class="btn btn-dark btn-lg" type="button">Visit Blog</button>
        </div>
    </div>


    {% load humanize %}
    <div class="container" id="featuredBlogs">
        <h1 class="fs-1 mb-4">Featured Blogs</h1>

        {% for post in posts %}
        <!-- Blogs starts here -->
        <div class="card text-center my-4">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">{{post.title}} ({{post.views}} views)</h5>
                <div class="card-text preview">{{post.content|safe|truncatewords:40}}</div>
                <a href="/blog/{{post.sno}}/{{post.slug}}/" class="btn btn-dark my-2">Read More</a>
            </div>
            <div class="card-footer text-body-secondary">
                {{post.dateAdded|naturaltime}}
            </div>
        </div>
        {% endfor %}
    </div>


</div>

{% endblock body %}


<!-- JS -->
{% block js %}
<script>
    let previews = document.getElementsByClassName("preview");
    Array.from(previews).forEach((element) => {
        element.innerHTML = element.innerText;
    });
</script>
{% endblock js %}