{% extends 'base.html' %}
{% block title %}Blog Post{% endblock title %}

<!-- css -->
{% block css %}
    
{% endblock css %}

<!-- Active nav links -->
{% block blogactive %}active{% endblock blogactive %}

<!-- BODY -->
{% block body %}
    <article class="container">
        <h1 class="blog-post-title link-body-emphasis">{{post.title}}</h1>
        <p class="blog-post-meta">{{post.dateAdded}} by <a href="/about/">{{post.author}}</a></p>
        <p>{{post.content}}</p>
    </article>
{% endblock body %}


<!-- JS -->
{% block js %}
    
{% endblock js %}